@media (min-width: 48em) {
    .post-title {
        font-size: 2.2rem;
    }
}

h1 {
    font-size: 1.5rem;
}

@media (min-width: 80em) {
    .content {
        margin-left: 20.3rem;
    }
}

.container {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: auto;
}

.sidebar-about .logo:hover {
    border-color: #75C750;
}

.post a {
    color: #03a9f4
}

.post a:hover {
    color: #75C750;
}

.sidebar a:hover {
    color: #75C750;
}

.sidebar {
    text-align: center;
    padding: 2rem 1rem;
    color: rgba(255, 255, 255, .5);
    background: #435B67;
}

.sidebar-about h1 {
    color: #fff;
    margin-top: 0;
    font-size: 1.7rem;
    font-weight: normal;
}

.post-overlay-header-title {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0.5rem 0.5rem 0 1rem;
    border-bottom-left-radius: 4px;
}

.header-image {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
}

.post-overlay-header a:visited {
    color: #FFF;
}

/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}

.icon-button i {
    background: none;
    color: white;
    height: 2.6rem;
    left: 0;
    line-height: 2.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 2.6rem;
    z-index: 10;
}

/* Wrapper */
.icon-button {
    background-color: transparent;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    height: 2.6rem;
    line-height: 3.6rem;
    margin: 5px 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.6rem;
}

.post-overlay-header a {
    color: #FFF;
}

.post-overlay-header a:hover, a:focus {
    color: #75C750;
}

.post-overlay-header .post-date {
    color: #DDDDDD;
}

.facebook a:hover {
    color: #446BA6;
    border-color: #446BA6;
}

.twitter a:hover {
    color: #64B5F6;
    border-color: #64B5F6;
}

.gplus a:hover {
    color: #DF4A31;
    border-color: #DF4A31;
}

.github a:hover {
    color: #171515;
    border-color: #171515;
}

.stackoverflow a:hover {
    color: #FFD54F;
    border-color: #FFD54F;
}

.foursquare a:hover {
    color: #7986CB;
    border-color: #7986CB;
}

.linkedin a:hover {
    color: #64B5F6;
    border-color: #64B5F6;
}

.mail a:hover {
    color: #64ffda;
    border-color: #64ffda;
}

.twitter span {
    background-color: #4099ff;
}

.facebook span {
    background-color: #39559F;
}

.google-plus span {
    background-color: #db5a3c;
}

.pocket span {
    background-color: #F23D52;
}

.icon-button .icon-twitter {
    color: #4099ff;
}

.icon-button .icon-facebook {
    color: #39559F;
}

.icon-button .icon-google-plus {
    color: #db5a3c;
}

.icon-button .icon-pocket {
    color: #F23D52;
}

.icon-button:hover .fa {
    color: white;
}
