<div class="share-page">
    Share with your friends:<br/>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank"
       title="Share on Facebook" class="icon-button facebook">
        <i class="icon-facebook fa fa-facebook"></i><span></span>
    </a>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter }}&related={{ site.twitter }}"
       rel="nofollow" target="_blank" title="Share on Twitter" class="icon-button twitter">
        <i class="icon-twitter fa fa-twitter"></i><span></span>
    </a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank"
       title="Share on Google+" class="icon-button google-plus">
        <i class="icon-google-plus fa fa-google-plus"></i><span></span>
    </a>
    <a rel="nofollow" href="https://getpocket.com/edit?url={{ site.url }}{{ page.url }}"
       data-lang="en" target="_blank" title="Save to Pocket" class="pocket-btn icon-button pocket">
        <i class="icon-pocket fa fa-get-pocket"></i><span></span>
    </a>
</div>