---
layout: default
comments: true
---

{% assign post = page %}

<div class="post">
  <meta itemprop="image" content="{{ page.cover_image }}">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% if post.tags.size > 0 %}
  {% if post.tags.size == 1 %} Tagged <i class="fa fa-tag"></i>{% else %} Tags <i class="fa fa-tags"></i>{% endif %}:
  {% endif %}
  {% for tag in page.tags %}<a class="tag">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}

  {% if post.tags.size > 0 %}
  <p id="post-meta">{{ tags_content }}</p>
  {% endif %}
  {% if page.cover_image %}
  <img class="header-image" src="{{ page.cover_image }}" alt="{{ page.title }}">
  {% endif %}

  {{ content }}


  {% if post.tags.size > 0 %}
  {% if post.tags.size == 1 %} Tagged <i class="fa fa-tag"></i>{% else %} Tags <i class="fa fa-tags"></i>{% endif %}:
  {% endif %}
  {% for tag in page.tags %}<a class="tag">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}

  {% if post.tags.size > 0 %}
  <p id="post-meta">{{ tags_content }}</p>
  {% endif %}
</div>

{% if site.related_posts > 0 %}
<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3 style="display: inline;"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <small>{{ post.date | date_to_string }}</small>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% include share_toolbar.html %}

{% include disqus.html %}
